<section class="px-20 py-5 flex flex-col gap-y-8">
  <!-- Body header -->
  <div class="flex justify-between text-sm text-slate-500">
    <p>10 QUESTIONS</p>
    <p>TIME REMAINING <span class="ml-2 text-lg text-teal-500">500</span></p>
  </div>
  <!-- Body main -->
  @if (quizStarted) {
  <app-quiz-question [question]="questions[currentQuestion]" />
  } @else {
  <div class="flex flex-col gap-y-8 text-white">
    <h1 class="text-3xl">Start JavaScript Quiz</h1>
    <p class="font-light">
      There are a list of javascript quizzes that will clear your javascript
      concepts. Our<br />javascript quiz covers javascript fundamentals, advance
      concepts, array, DOM, and<br />other topics.
    </p>
  </div>
  }
  <div class="mb-8 flex justify-end">
    @if (quizStarted) {
    <button
      class="px-16 py-4 bg-sky-500 text-white"
      (click)="currentQuestion = currentQuestion + 1"
    >
      Next question
    </button>
    } @else {
    <button
      class="px-16 py-4 bg-sky-500 text-white"
      (click)="quizStarted = true"
    >
      Start quiz
    </button>
    }
  </div>
</section>
